<div class="adddiv" style="align-items: center;justify-content:center;">
   
    <form [formGroup]="formgrp">
        Todo<input type="text" formControlName="todo"><br/><br/>
        <!-- <div type="text" formArrayName="formnotes" *ngFor="let notes of formgrp.get('formnotes')['controls'];let i=index;">
         <div [formGroupName]="notes">
                Notes<input type="text" formControlName="formdesc">
        </div> -->
        <div formArrayName="formnotes" *ngFor="let notes of formgrp.get('formnotes')['controls'];let i=index;">
           <div [formGroupName]="i">
            Notes <input type="text" formControlName="formdesc">
            <button (click)="removeformgrp()" style="background-color: crimson;">X</button>
        </div></div>
    <button (click)="addformgrp()" >add Notes</button><br/><br/>
       <button (click)="addtodo()" style="font-size:50px;background-color:chartreuse; border: 5px solid green;" type="submit"  name="subbut">submit</button>
    </form>
</div>
<!-- 
     <form #f="ngForm" (ngSubmit)="addtodo(f)">
        Todo <br/><br/>
<input  style="font-size: 40%;"type="text" class="inp" ngModel name="todo">
 <button style="font-size:50px;background-color:chartreuse; border: 5px solid green;" type="submit"  name="subbut">submit</button>
    </form> -->