/* You can add global styles to this file, and also import other style files */
div{
    border-radius: 1%;
    border-color: rgb(175, 17, 17);
}
p{
    background-color:blueviolet;
    color:white;
}